<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template project</title>
</head>
<body>
  <h1>This text is created in {{title}}</h1>
  <app-widget-action-bar ></app-widget-action-bar>
  <app-widget-action-bar [step]="5"></app-widget-action-bar>
  <app-widget-action-bar [step]="10"></app-widget-action-bar>
  <app-widget-text-box></app-widget-text-box>
</body>
</html>